<meta name="msvalidate.01" content="2E1AACF009206F2DDBAAD4B98E881460" />
<meta name="fediverse:creator" content="@Verdant@c7.io" />
<link
  rel="prefetch"
  as="image"
  href="https://www.blogsclub.org/badge/www.glowisle.me"
/>
<link href="https://github.com/yingyu5658" rel="me" />
<link href="https://c7.io/@Verdant" rel="me" />
<link
  rel="webmention"
  href="https://webmention.io/www.glowisle.me/webmention"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/><link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
/>
