{{ $allPages := where .Site.RegularPages "Type" "in" (slice "posts" "blog") }}
{{ $visiblePages := where $allPages "Params.hidden" "!=" true }}
{{ $pagesToShow := $visiblePages.ByDate.Reverse }}

<div class="archives-content">
  <h2>归档</h2>
  
  <p>共有 {{ len $pagesToShow }} 篇文章</p>
  
  <ul class="blog-posts">
    {{ $currentYear := 0 }}
    {{ range $pagesToShow }}
      {{ $year := .Date.Year }}
      {{ if ne $year $currentYear }}
        <h3>{{ $year }}</h3>
        {{ $currentYear = $year }}
      {{ end }}
      <li>
        <span>
          <i>
            <time datetime='{{ .Date.Format "2006-01-02" }}'>
              {{ .Date.Format "2006-01-02" }}
            </time>
          </i>
        </span>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>
</div>
